$primary-color: hsl(192, 75%, 59%);
$secondary-color: hsl(169, 100%, 37%);
$primary-base-color: hsl(206, 74%, 63%);
$primary-lite-color: hsl(0, 0%, 98%);
$primary-dark-color: hsl(0, 0%, 35%);
$secondary-dark-color: hsl(0, 0%, 50%);

$font-size-base: 1rem;