@import './variables';
@import './resets';
@import './colors';
@import './typography';

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
        width: 80%;


        h1 {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
            color: $primary-dark-color;        
        }
    
        input[type=text] {
            padding: 0.5rem 2.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        .submit-btn {
            padding: 0.5rem 2.5rem;
            margin-top: 10px;
            cursor: pointer;
            border: none;
            border-radius: 1px;
            background-color: $primary-color;
            color: $primary-dark-color;
            font-size: $font-size-base;
        }  
    }  
}