/* Resets */
html {
    box-sizing: border-box;
    max-width: 70ch;
    margin: 0 auto;
    font: 1.25em;
    color: #333;
    line-height: 1.4;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    background-color: lightgreen;
    padding: 0.1em;
    width: 100px;
    height: 100px;
}

.text {
    line-height: 1.2;
}