body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    color: hsl(30, 67%, 94%);
    font-family: sans-serif;
}

#cars {
    line-height: 1.6;
}

.car-item {
    padding: 10px;
    margin: 5px 0;
    background-color: hsl(0, 0%, 83%);
    border: 1px solid hsl(0, 0%, 80%);
    color: hsl(0, 0%, 0%);
}