body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    color: hsl(30, 67%, 94%);
    font-family: sans-serif;
}

