*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313d44;
    color: #fff;
    gap: 0.5rem;
} */

.container {
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

h1 {
    margin: 0 0.9rem;
}

h2 {
    text-align: center;
}

ul {
    padding: 1rem;
}

li {
    list-style-type: none;
    text-align: center;
    padding: 0.4rem 5.5rem;
    font-size: 16px;
    background-color: #ddd;
    color: #000;
    margin-bottom: 2px;
}